body {
  background-color: #FFCE45;
}

hr {
  background-color: green;
  border-style: none;
  height: 1px;
}

h1 {
  color: #7E370C;
}

h3 {
  color: #B05E27;
}

h4 {
  color: #B05E27; 
}
